@use 'variables.scss' as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $space-1 0;
}

.auth-form-group {
    display: flex;
    flex-direction: column;
}

.auth-button {
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

.auth-button--sign-in {
    background-color: $black-1;
    color: #ffffff;
}

.auth-button--sign-up {
    border: 2px solid #000;
}

.modal-close-button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20px;
    right: -12px;
}

.modal-close-button__icon {
    border: 2px solid #000000;
    border-radius: 50%;
    height: 100%;
    width: 100%;

    background-color: #ffffff;
}

.container {
    margin: 0 $space-1;
}

.posts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post {
    width: 100%;
}

.post-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-1;
}

.post-like {
    display: flex;
    align-items: center;
}

.post-heart {
    fill: $dark-red-2;
    stroke: #000000;
}

.post-filter-active {
    border-radius: 10px;
    padding: 4px 15px;

    background-color: $dark-red-2;
    color: #ffffff;
    font-weight: 700;
}