@use 'variables.scss' as *;

.m0-auto {
    margin: 0 auto;
}

.mr-1 {
    margin-right: $space-1;
}

.mb-1 {
    margin-bottom: $space-1;
}

.color-dark-red-1 {
    color: $dark-red-1;
}

.color-dark-blue-1 {
    color: $dark-blue-1;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-2 {
    font-size: 30px;
}

.font-weight-700 {
    font-weight: 700;
}

.w-100 {
    width: 100%;
}

.d-none {
    display: none;
}

.flex {
    display: flex;
}